# Cabal
dist/
dist-newstyle/
cabal.project.local
cabal.project.local~
cabal.sandbox.config
cabal.sandbox.config~
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.hie
*.prof
*.aux
*.hp
*.eventlog
.hpc/
.stack-work/

# Custom
*/.trash/
*/bin/
